<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrar</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="data.name" name="name" matInput placeholder="Nome">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="data.login" name="login" placeholder="Login">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="data.password" name="password" type="password" placeholder="Password">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button (click)="submitForm()" color="accent" class="btn-block">Registrar</button>
  
      </form>
    </mat-card>
  </div>